/* Import all components */
@import 'semantic/src/semantic';

@text-color: #FFF;

.category-title {
  color: @text-color;
}


.category-title a, .category-title a:hover {
  color: @text-color !important;
  font-weight: bold;
  text-transform: uppercase;
}